<div id="body" ng-controller="itemListController">
	<section class="content-wrapper main-content clear-fix">
		<div ng-repeat="item in items">
			<label>{{item.id}}</label>
			<input type="text" value="{{item.name}}" />
		</div>
	</section>
</div>
