<div>
	<h3>Detail:</h3>
	<label>{{itemDetailCtrl.item.id}}</label>
	<input type="text" value="{{itemDetailCtrl.item.name}}" />
	<input type="text" value="{{itemDetailCtrl.item.type}}" />
	<input type="text" value="{{itemDetailCtrl.item.rights}}" />
	<input type="text" value="{{itemDetailCtrl.item.dateTime}}" />
	<a ui-sref="item.list">Back</a>
</div>