<div>
	<h3>Detail:</h3>
	<label>{{item.id}}</label>
	<input type="text" value="{{item.name}}"/>
	<input type="text" value="{{item.type}}"/>
	<input type="text" value="{{item.rights}}"/>
	<input type="text" value="{{item.dateTime}}"/>
	<a ui-sref="item.list">Back</a>
</div>